@charset 'UTF-8';

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  padding: 20px 25px;
}

.logo {
  width: 17%;
}

#msg {
  opacity: 0.6;
}

#nav {
  display: block;
  transform: translateX(100%);
  transition: all 0.3s;
  background-color: #dd1b57;
  position: fixed;
  height: 100%;
  padding: 60px 50px 0px 20px;
  right: -10px;
  top: 0;
}

.togglebtn {
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 15px;
  width: 30px;
}

.togglebtn span {
  position: absolute;
  display: block;
  left: 0;
  width: 28px;
  height: 2px;
  background-color: #dd1b57;
  transition: all 0.5s;
}

.togglebtn span:nth-child(1) {
  top: 4px;
}

.togglebtn span:nth-child(2) {
  top: 14px;
}

.togglebtn span:nth-child(3) {
  bottom: 4px;
}

.open .togglebtn span {
  background-color: #ffffff;
}

.open #nav {
  display: block;
  transform: translateX(0);
  transition: all 0.3s;
  background-color: #dd1b57;
  position: fixed;
  height: 100%;
  padding: 60px 50px 0px 20px;
  right: 0;
  top: 0;
}

.open .togglebtn span:nth-child(1) {
  opacity: 0;
}

.open .togglebtn span:nth-child(2) {
  transform: rotate(-45deg) translateX(15px);
}

.open .togglebtn span:nth-child(3) {
  transform: rotate(45deg) translateX(15px);
}

.list-a {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
}

.ul-items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .logo {
    width: 100%;
  }

  .open #nav {
    background-color: transparent;
  }

  #home {
    opacity: 1;
    color: #dd1b57;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 70px;
  }

  .btn-menu {
    display: none;
  }

  #nav {
    transform: translateX(0);
    padding: 0;
    position: relative;
    background-color: transparent; /* PC版ではnavの背景を消す */
  }

  .togglebtn {
    display: none;
  }

  .ul-items {
    display: flex;
    margin: 0;
    column-gap: 30px;
    font-size: 1.7rem;
    flex-direction: row;
    white-space: nowrap;
  }

  .list-a {
    color: black;
  }
}
